/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-color: blanchedalmond;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
